* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;

   background-color: #4c4c4c;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 300px;
    height: 450px;

    background-color: #ff0000;
    border-radius: 40px;
}

#visor {
    display: flex;
    text-align: center;

    color: #fff;
    font: 1000 20px Arial;
    border: 5px solid #fff;

    width: 250px;
    height: 75px;

    background-color: #68844c;

    margin: 20px;

    border-radius: 10px;

}

.teclado {
    display: flex;

    width: 250px;
    height: 275px;
    border-radius: 10px;

    background-color: #926a6a;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

button {
    width: 50px;
    height: 50px;

    background-color: #ffaeae;
    color: #000000;
    font: 1000 20px Arial;

    margin: 5px;

    border-radius: 10px;
}